* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}
body {
  background-color: black;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
/* Logo */
.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  font-size: 1.3em;
}

/* Nav links */
.nav_links,
a {
  display: flex;
  gap: 3em;
  list-style: none;
  text-decoration: none;
}
/* Image Styling */
img {
  border-radius: 20px;
  margin-left: 40px;
}
